*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size:12px;
    font-weight:normal;
}
.box
{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
}
html, body
{
    height:100%;
    -webkit-user-select: none;
    user-select:none;
    color:#939393;
    font-family:arial;
}
body
{
    font-size: 11px;
    overflow: hidden;
}
body.fullscreen
{
    background-color:black;
}
.scrollable_panel
{
    overflow-y: auto;
}
section.info_panel
{
    height: 100%;
    vertical-align:middle;
    margin-bottom:200px;
    margin-top:25px;
}
section.info_panel header
{
    border-bottom:1px solid #939393;
    margin-bottom:10px;
    color: #939393;
}
div.artist_albums
{
    margin-bottom:5px;
}
#songs
{
    display:table;
}
.song-data:nth-child(2n+1)
{
    background-color: #f0f0f0;
}
.cell
{
    display:inline-block;
}
.track_number
{
    margin-right:10px;
    text-align:right;
    min-width:15px;
}
ul li
{
    display:inline-block;
}
.selected_song
{
    background-color:#ff6900!important;
    color:black!important;
}
.selected-lib-item h1
{
   background-color:#ff6900!important;
   color:black!important;
}
.delete_song
{
    display:none;
}

/**player*/
footer#player
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: black;
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
}
#music_gutter
{
    height: 4px;
    padding: 2px;
    background: white;
    width:65%;
    vertical-align:middle;
    position:relative;
}
#music_handle
{
    height: 10px;
    width: 20px;
    top: -2px;
    margin-left: -.6em;
    position: absolute;
    z-index: 2;
    background: #F6F6F6;
    border: 1px solid #CCC;
}

#player_info_panel
{
    display:inline-block;
}

#current_song_info
{
    position: absolute;
    left: 20px;
    bottom: 10px;
}
#time_counter
{
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
}

#player_toolbar_panel
{
    display:inline-block;
}
#player_ctrl
{
    display:none;
}
#player span
{
    display:inline-block;
}

#volume_gutter
{
    width:50px;
    height:4px;
    padding: 2px;
    background: white;
    margin-left:5px;
    margin-right:60px;
    vertical-align:middle;
    position:relative;
}
#volume_handle
{
    height:10px;
    width:10px;
    top:-2px;
    margin-left: -.6em;
    position: absolute;
    z-index: 2;
    border: 1px solid #CCC;
    background-color: #F6F6F6;
}

.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range
{
    top: 0;
    height: 100%;
}
.ui-slider .ui-slider-range
{
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
}

.control
{
    cursor:pointer;
    margin-left:5px;
    margin-right:5px;
    vertical-align:middle;
    display: inline-block;
}

/**jquery UI changed*/
.ui-widget-header
{
    background:#ff6900;
}
.ui-widget-header
{
    background: #FF6900;
}
.info_panel
{
    display:inline-block;
}

article.lib-item-data
{
    border-bottom: 1px solid #939393;
    padding: 15px 0px 15px 0px;
}
article.lib-item-data .command_link
{
    display:none;
    margin-right:10px;
}
article.lib-item-data label:after
{
    content:': '
}

.lib-item-info
{
    -webkit-box-flex: 2;
}
.lib-item-info h1
{
    color:black;
    text-transform: uppercase;
    margin-bottom:15px;
    font-weight:bold;
}
.lib-item-info div, .lib-item-info label
{
    font-size:11px;
}
.lib-item-info label
{
    font-weight:bold;
    color:black;
}
#album_info_view
{
    display:none;
    position:fixed;
    z-index:10;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 5px 5px 0px 5px;
}

.detailed_album_info
{
    -webkit-box-flex: 2;
}
.detailed_album_info h1
{
    color:black;
    text-transform: uppercase;
    margin-bottom:15px;
    font-weight:bold;
}
#album_info
{
    -webkit-box-flex: 2;
}
#album_info label:after
{
    content:': ';
}

.album_link
{
    cursor:pointer;
}
.album_link:hover
{
    text-decoration:underline;
}
.album_link:after,.genre_link:after
{
    content:', ';
}
.album_link:last-child:after,.genre_link:last-child:after
{
    content:'';
}
.artist_genres
{
    display:inline-block;
}
#playing_visualization
{
    display:none;
    margin: auto;
    text-align: center;
    overflow:hidden;
}
#playing_visualization img
{
    margin:10px;
    max-height: 100%;
}
#playing_list footer
{
    border-top: 1px solid #939393;
    margin-top: 15px;
}
#playing_list footer label:after
{
    content:': ';
}
#song_info_view
{
    min-height:120px;
    height:120px;
    height:120px;
}
    #song_image,#song_info
    {
        display:inline-block;
    }
    #song_info
    {
        vertical-align:top;
    }
    #song_info h1
    {
        color:black;
        text-transform: uppercase;
        margin-bottom:20px;
        font-weight:bold;
    }
    #song_info .data_info_row
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 220px;
    }
.data_info_row
{
    display:block;
}

span.info_image
{
    -webkit-box-flex: 1;
    margin-right:10px;
}
span.info_image img
{
    width:100px;
    height:100px;
}

.detailed_album_info_panel
{
    min-height:120px;
    height:120px;
}
.lib_item_full_info_panel
{
    border-bottom: 1px solid #939393;
    padding: 15px 0px 15px 0px;
}
.lib_item_full_info_panel:first-child
{
    padding: 0px 0px 15px 0px;
}

#playing_songs label
{
    background-color: #FF6900!important;
    color: black!important;
}

#sound_toggle
{
    margin-left:20px;
}

#next_song
{
    background-image:url(icons/next.png);
    width:23px;
    height:14px;
}
#next_song:hover
{
    background-image:url(icons/next_hover.png);
}
#previous_song
{
    background-image:url(icons/previous.png);
    width:23px;
    height:14px;
}
#previous_song:hover
{
    background-image:url(icons/previous_hover.png);
}
#stop_song
{
    background-image:url(icons/stop.png);
    width:10px;
    height:10px;
}
#stop_song:hover
{
    background-image:url(icons/stop_hover.png);
}
#shuffle_toggle
{
    width:20px;
    height:14px;
}
#shuffle_toggle.on
{
    background-image:url(icons/shuffle_hover.png);
}
#shuffle_toggle.off
{
    background-image:url(icons/shuffle.png);
}
#shuffle_toggle:hover
{
    background-image:url(icons/shuffle_hover.png);
}
#repeat_toggle
{
    width:19px;
    height:14px;
}
#repeat_toggle.on
{
    background-image:url(icons/repeat_hover.png);
}
#repeat_toggle.off
{
    background-image:url(icons/repeat.png);
}
#repeat_toggle:hover
{
    background-image:url(icons/repeat_hover.png);
}
#play_toggle
{
    width:35px;
    height:35px;
}
#play_toggle.playing
{
    background-image:url(icons/pause.png);
}
#play_toggle.playing:hover
{
    background-image:url(icons/pause_hover.png);
}
#play_toggle.paused
{
    background-image:url(icons/play.png);
}
#play_toggle.paused:hover
{
    background-image:url(icons/play_hover.png);
}
#sound_toggle
{
    width:22px;
    height:21px;
}
#sound_toggle.on
{
    background-image:url(icons/sound.png);
}
#sound_toggle.on:hover
{
    background-image:url(icons/sound_hover.png);
}
#sound_toggle.off
{
    background-image:url(icons/no_sound.png);
}
#sound_toggle.off:hover
{
    background-image:url(icons/no_sound_hover.png);
}
#expand
{
    width:18px;
    height:18px;
}
#expand.on
{
    background-image:url(icons/expand.png);
}
#expand.on:hover
{
    background-image:url(icons/expand_hover.png);
}
#expand.off
{
    background-image:url(icons/collapse.png);
}
#expand.off:hover
{
    background-image:url(icons/collapse_hover.png);
}
#help
{
    font-weight: bold;
    font-size: 24px;
    margin-right: -2px;
    margin-left: -8px;
}
#help.off
{
    color: white;
}
#help.on
{
    color:#FF6900;
}
#help:hover
{
    color:#FF6900;
}
.help_panel
{
    color:black;
}
#how_to_use p
{
    margin-top:10px;
    margin-bottom:10px;
}
#contributions section span
{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
}
.help_panel a
{
    color:#FF6900;
    text-decoration:underline;
}
.hot_key_row
{
    background-color: #F0F0F0;
    margin-top:10px;
    margin-bottom:10px;
}
.key_combination
{
    color:#FF6900;
    margin-right:20px;
    width:80px;
}
.lib-item-info footer
{
    text-align: right;
}
footer.saved_playlist_toolbar
{
    margin-top: 40px;
}
#playlist_toolbar
{
    margin-bottom:10px;
}
#new_play_list:focus
{
    background-color:#FF6900;
}
#clear_playlist
{
    float:right;
}
.command_link
{
    cursor:pointer;
}
.command_link:hover
{
    color:#FF6900;
}
#library_menu header h1
{
    display:inline-block;
    margin-right:5px;
    cursor:pointer;
}
#library_menu header h1:hover
{
    text-decoration:underline;
}
#library_menu header h1:after
{
    content:'/';
    margin-left:5px;
    text-decoration:none;
}
#library_menu header h1:last-child:after
{
    content:'';
}
.library_content_panel
{
    display:none;
}
#artists_library_content
{
    display:block;
}
.selected-lib-item .command_link
{
    display:inline-block!important;
}

.hidden
{
    display:none;
}
.left_layout_panel
{
    width:32%;
    padding-left:10px;
    padding-right:20px;
}
.middle_layout_panel
{
    width:32%;
    padding-left:20px;
    padding-right:20px;
}
.right_layout_panel
{
    width:28%;
    padding-left:20px;
    padding-right:10px;
}
