section#contributions.info_panel.help_panel
  header
    h1 Thanks
  section
    span
      a(href="http://documentcloud.github.com/underscore/") underscore.js
      | - utility library for JavaScript.
    span
      a(href="http://documentcloud.github.com/backbone/") backbone.js
      | - tiny MVC framework that helped to organize code.
    span
      a(href="http://jquery.com/") jQuery
      |- the best cross-browser JavaScript library for dealing with DOM.</span>
    span
      a(href="https://github.com/podviaznikov/fs.js") fs.js
      | - simple wrapper for HTML 5 File API.
    span
      a(href="https://github.com/aadsm/JavaScript-ID3-Reader") id3
      |- ID3 reader for JavaScript.
    span
      a(href="http://last.fm") last.fm
      | - great music service.
    span
      a(href="http://nextbigsound.com") Next Big Sound
      | - gives you information about artists' social profiles
    span
      a(href="https://github.com/podviaznikov/porridge.js") porridge.js
      | - simple wrapper for HTML 5 IndexedDB.
    span
      a(href="https://github.com/podviaznikov/backbone-indexdb") backbone-indexdb
      |- backbone adapter for IndexedDB.
    span
      a(href="http://nodejs.org") Node.js
      |- server side JavaScript environment.
    span
      a(href="http://expressjs.com/") Express.js
      | - web framework for node.js.
    span
      a(href="https://github.com/jammus/lastfm-node") lastfm-node
      |- node.js API for last.fm.
    span
      a(href="https://github.com/gasi/node-facebook-graph") Facebook graph
      |- Facebook Node.js SDK
