section#hot_keys.info_panel.help_panel
  header
    h1 Hot keys
  section
    .hot_key_row
      .cell.key_combination Space
      .cell Play/Pause
    .hot_key_row
      .cell.key_combination Enter
      .cell Play selected track
    .hot_key_row
      .cell.key_combination Delete
      .cell Delete selected track from playlist
    .hot_key_row
      .cell.key_combination Escape
      .cell Return to normal mode
    .hot_key_row
      .cell.key_combination Key up
      .cell Select and play previous track
    .hot_key_row
      .cell.key_combination Key down
      .cell Select and play next track
