section#how_to_use.info_panel.help_panel
  header
    h1 How to use
  section
    p
      | m.player - is modern offline/online audio player that works just in browser (it doesn't require Internet connection).
      | You can drop music files from your file system (or import with special import buttons) inside the player and play them right now or come back later.</p>
    p
      | Player has library using which you can navigate through you music. Library populated automatically each time
      | you add new files to play. Information in the library integrated with <a href="http://last.fm">last.fm</a> service and <a href="http://nextbigsound.com">Next Big Sound</a>.</p>
    p
      | All your music stored locally in the filesystem used by application. This is possible using latest HTML 5 technologies (Audio API, local storage, File System API, IndexedDB).</p>
    p
      | Player has integration with Last.fm and Facebook. You can login with Last.fm account and your music will be scrobbled automatically to Last.fm.
      | Also if you login with Facebook account all information about listened songs will be available on your Facebook wall.</p>
    p
      | Project is open-source. You can join development <a href="https://github.com/podviaznikov/m.player">here</a>.</p>
    p
      | Current version is 2.9. A lot of new functionality will be implemented in the upcoming months.</p>
    p
      | Project is build by <a href="http://enginimation.com">Enginimation Studio</a>. Feel free to contact <a href="mailto:hello@enginimation.com">us</a> in any time with any reason.</p>