!!! 5
//html(manifest="app.mf",lang="en")
html
  head
    title m.player - your favourite music player
    meta(charset="utf-8")
    meta(name="author",content="Enginimation Studio (enginimation.com)")
    meta(name="description",content="Offline/online music player with Last.fm and Facebook integration")
    meta(name="keywords",content="player,music player,html5,offline player,lastfm,mp3,media player,facebook,fb,next big sound")
    link(rel="stylesheet",href="css/styles.css")
    script(src="application.js")
    script
      $(function(){AppController.init();});
body
  include file_upload_dialog
  section#help_screen.screen_panel.hidden
    include how_to_use
    include hot_keys
    include contributions
  section#playing_visualization
  section#main_screen.screen_panel
    section#library_menu.info_panel.main_panel
      header
        h1#show_artists Artists
        h1#show_albums Albums
        h1#show_playlists Playlists
        h1#show_soundcloud.hidden SoundCloud
        input(placeholder="Search artist",type="search",maxlength="16",autocomplete="on")
      section#artists_library_content.library_content_panel.scrollable_panel
      section#albums_library_content.library_content_panel.scrollable_panel
      section#playlists_library_content.library_content_panel.scrollable_panel
      section#soundcloud_library_content.library_content_panel.scrollable_panel
    section#filtered_lib.info_panel.main_panel
      header
        h1 Albums
        h1 Bio
      section#filtered_lib_content.scrollable_panel
        article#artist_bio
    section#playing_list.info_panel.main_panel
       header.box
         h1 Now playing
       section#song_info_view
       section#playlist_toolbar
         input#new_play_list(value="Unsaved list",maxlength="18")
         input#drop_files(type="file",accept="audio/*",multiple)
         input#drop_folder(type="file",accept="audio/*",multiple,webkitdirectory)
         span#clear_playlist.command_link(title="Clear playlist") Clear
         span#import_songs_directory.command_link(title="Import music directory") Import directory
         span#import_songs_files.command_link(title="Import music files") Import files
       section#playing_songs.scrollable_panel
         label Drop mp3 files here
       footer
  footer#player
    section#main_controls_panel
      span#shuffle_toggle.control.off(title="Turn shuffle on")
      span#repeat_toggle.control.on(title="Turn repeat off")
      span#stop_song.control(title="Stop")
      span#previous_song.control(title="Previous")
      span#play_toggle.control.paused(title="Play")
      span#next_song.control(title="Next")
      span#sound_toggle.control.on(title="Mute")
      meter#volume_slider(value="0.5",min="0",max="1")
      progress#music_slider(value="0")
      label#time_counter 0:00
      span#help.control.off(title="Help")
      span#expand.control.on(title="Full screen mode")
    section#social_controls_panel.hidden
      fieldset#sc_control_panel.unlogined
        label#sc_username.authorised
        a#sc_logout_btn.social_logout.control.authorised(title="Logout from SoundCloud")
        a#sc_login_btn.control(title="Login to SoundCloud",href="https://soundcloud.com/connect?scope=non-expiring&response_type=token&display=popup&client_id=1ef8d74100e28b577620e0243874233e&redirect_uri=http://player.enginimation.com") SC
      fieldset#fb_control_panel.unlogined
        span#fb_icon.control.authorised(title="Facebook")
        label#fb_username.authorised
        a#fb_logout_btn.social_logout.control.authorised(title="Logout from Facebook")
        a#fb_login_btn.control(title="Login to Facebook",href="https://www.facebook.com/dialog/oauth?client_id=222066051151670&redirect_uri=http://player.enginimation.com&scope=email,read_stream,offline_access&response_type=token")
      fieldset#lastfm_control_panel.unlogined
        span#lastfm_icon.control.authorised(title="Last.fm")
        label#lastfm_username.authorised
        span#lastfm_logout_btn.social_logout.control.authorised(title="Logout from Last fm")
        a#lastfm_login_btn(href="http://www.last.fm/api/auth/?api_key=e3377f4b4d8c6de47c7e2c81485a65f5.control",title="Login to Last.fm")
    span#social.control.off(title="Social")
    audio#player_ctrl
  include templates

