/* Let's get this party started */
::-webkit-scrollbar
{
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track
{

}
/* Handle */
::-webkit-scrollbar-thumb
{
    background: #939393;
    opacity:0.8;
}
::-webkit-scrollbar-thumb:window-inactive
{
	background: #939393;
	opacity:0.4;
}
#lastfm_login
{
    display:none;
    position: fixed;
    bottom: 32px;
    right: 25px;
}
#lastfm_login:hover
{
    bottom:38px;
}
#lastfm_login img
{
    width:50px;
    height:50px;
}
section.screen_panel
{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
section.screen_panel section.info_panel
{
    -webkit-box-flex: 1;
    width:33%;
    margin-right: 10px;
    margin-left: 10px;
}
::-webkit-meter-optimum-value
{
    background:none;
    background-color:#FF6900;
}
::-webkit-meter-bar
{
    background:none;
    background-color:white;
}
.modal_dialog
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    vertical-align:middle;
    visibility:hidden;
    opacity:0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.modal_dialog.active
{
    visibility:visible;
    opacity:1;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.dialog_content
{
    width: 400px;
    height: 60px;
    margin: 15% auto;
    background-color:white;
    text-align:center;
}
#uploading_files_progress header
{
    padding-top: 10px;
    margin-bottom: 5px;
}
#uploading_files_progress progress::-webkit-progress-bar
{
    background-color: #939393;
}
progress
{
    width: 300px;
    margin-right: 5px;
}
progress::-webkit-progress-value
{
    background-color: #FF6900;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size:12px;
    font-weight:normal;
}
.box
{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
}
html, body
{
    height:100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    color:#939393;
    font-family:arial;
}
body
{
    font-size: 11px;
    overflow: hidden;
}
body.fullscreen
{
    background-color:black;
}
.scrollable_panel
{
    overflow-y: auto;
}
section.info_panel
{
    height: 100%;
    vertical-align:middle;
    margin-bottom:200px;
    margin-top:25px;
}
section.info_panel header
{
    border-bottom:1px solid #939393;
    margin-bottom:10px;
    color: #939393;
}
div.artist_albums
{
    margin-bottom:5px;
}
#songs
{
    display:table;
}
#playing_songs .song-data
{
    margin-right:5px;
}
.song-data:nth-child(2n+1)
{
    background-color: #f0f0f0;
}
.delete_album_song
{
    color:white;
    opacity:0;
    float:right;
    margin-right:5px;
}
.delete_album_song:hover
{
    color:black;
}
.selected_song .delete_album_song
{
    display:table-cell;
    opacity:1;
}
.cell
{
    display:inline-block;
}
.track_number
{
    margin-right:10px;
    text-align:right;
    min-width:15px;
}
ul li
{
    display:inline-block;
}
.selected_song
{
    background-color:#ff6900!important;
    color:black!important;
}
.selected-lib-item h1
{
   background-color:#ff6900!important;
   color:black!important;
}
/**player*/
footer#player
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: black;
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
}
footer#player.socialized
{
    text-align:right;
}
.social_logout
{
    width:11px;
    height:10px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPRJREFUeNqUUbFqhEAUHLWwEbS0EXKCVspVNiLEMmCTT/D+4MrcX6RMmU9IY69wWidY2uQQhDQSC0sh721ed5UDw+ybfTu83dUgSNPUJnkl5sQH4jexJp67rlu4R5PGo2w4uMcvB9CBL12Md9M0nVNZIo4iZbByzT7vs2dQ6iPpi+/7SJIEYRjCtm1kWQbLsjBNE+Z5dj3Pq3WZEcMwoKqq/9Q4Vso1+4Jcxw7ocjEEQYCiKJTZ971SrtkX1MY4jjea53ldV9c/HNA0Da5ti2VZ1Oy83rbtk17jsuvpDK4o/YfS32jpygFHPuWD+ESNN+77E2AASQlVOEX+BPQAAAAASUVORK5CYII=);
}
.social_logout:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOtJREFUeNpiZIACKysrfiA1AYgdgFgBiB8A8QEgLjh27NhHkBpGqEJ9qIQAAyb4ADIAqOEiE1RgAQ8Pj8CCBQsYPD09wQIgGsQHiYPkYdbbA/H/8vLy/zCwdetWOBskDpIHqWOWlZVNAFnz6NEjhufPnzPY2dkxqKqqgg1qaWlh2Lt3L8w5D5gYSABMUI8x2NraMtTU1IAFt23bBqZBfJA4FBxgfvz48UOgUwLevXsnYWFhwTB9+nSGefPmgZ0kKSkJZv/69esCMDQqSQo6ZhAPaPpLoOkzgEwJqAYBaKRsAGIPoMKHIHUAAQYAsZlr0rUN1qoAAAAASUVORK5CYII=);
}
#social_controls_panel
{
    margin-right: 40px;
    margin-top: 8px;
}
#social_controls_panel fieldset
{
    display:inline-block;
}
#lastfm_control_panel.logined #lastfm_login_btn,#fb_control_panel.logined #fb_login_btn
{
    display:none;
}
#social_controls_panel fieldset.logined .authorised
{
    display:inline-block;
}
#lastfm_control_panel.unlogined #lastfm_login_btn,#fb_control_panel.unlogined #fb_login_btn
{
    display:inline-block;
}
#social_controls_panel fieldset.unlogined .authorised
{
    display:none;
}

#music_slider
{
    height: 10px;
    background: white;
    width:65%;
    vertical-align:middle;
    position:relative;
}
#music_slider::-webkit-progress-bar
{
    background-color: white;
}

#player_info_panel
{
    display:inline-block;
}

#current_song_info
{
    position: absolute;
    left: 20px;
    bottom: 10px;
}
#time_counter
{
    color: white;
    margin-left: 5px;
    margin-top: 8px;
}
#player_toolbar_panel
{
    display:inline-block;
}
#player_ctrl
{
    display:none;
}
#volume_slider
{
    width: 50px;
    height: 10px;
    margin-left: 5px;
    margin-right: 40px;
    vertical-align: middle;
    position: relative;
}
.control
{
    cursor:pointer;
    margin-left:5px;
    margin-right:5px;
    vertical-align:middle;
    display: inline-block;
}
article.lib-item-data
{
    border-bottom: 1px solid #939393;
    padding: 15px 0px 15px 0px;
    margin-right:5px;
}
article.lib-item-data .command_link
{
    display:none;
    margin-right:10px;
}
article.lib-item-data label:after
{
    content:': ';
}
.lib-item-info
{
    -webkit-box-flex: 2;
}
.lib-item-info h1
{
    color:black;
    text-transform: uppercase;
    margin-bottom:15px;
    font-weight:bold;
    cursor:pointer;
}
.lib-item-info div, .lib-item-info label
{
    font-size:11px;
}
.lib-item-info label
{
    font-weight:bold;
    color:black;
}

.detailed_album_info
{
    -webkit-box-flex: 2;
}
.detailed_album_info h1
{
    color:black;
    text-transform: uppercase;
    margin-bottom:15px;
    font-weight:bold;
}
#album_info
{
    -webkit-box-flex: 2;
}
#album_info label:after
{
    content:': ';
}

.album_link
{
    cursor:pointer;
}
.album_link:hover
{
    text-decoration:underline;
}
.album_link:after,.genre_link:after
{
    content:', ';
}
.album_link:last-child:after,.genre_link:last-child:after
{
    content:'';
}
.genres_box
{
    display:inline-block;
}
#playing_visualization,#artist_bio
{
    display:none;
    margin: auto;
    text-align: center;
    overflow:hidden;
    vertical-align:middle;
}
#artist_bio
{
    text-align:left;
    line-height:22px;
}
#playing_visualization img
{
    margin:20px;
    max-height:100%;
    display:inline-block;
}
#playing_list footer
{
    border-top: 1px solid #939393;
    margin-top: 15px;
}
#playing_list footer label:after
{
    content:': ';
}
#song_info_view
{
    min-height:120px;
    height:120px;
}
    #song_image
    {
        float:left;
        width:120px;
    }
    #song_info
    {
        vertical-align:top;
        margin-left:120px;
    }
    #song_info h1
    {
        color:black;
        text-transform: uppercase;
        margin-bottom:20px;
        font-weight:bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #song_info .data_info_row
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 220px;
    }
.data_info_row
{
    display:block;
}
span.info_image
{
    -webkit-box-flex: 1;
    margin-right:10px;
    cursor:pointer;
}
span.info_image img
{
    width:100px;
    height:100px;
}
.detailed_album_info_panel
{
    min-height:120px;
    height:120px;
}
.lib_item_full_info_panel
{
    border-bottom: 1px solid #939393;
    padding: 15px 0px 15px 0px;
    margin-right:5px;
}
.lib_item_full_info_panel:first-child
{
    padding: 0px 0px 15px 0px;
}
.lib_item_full_info_panel:last-child
{
    border-bottom: 0px solid #939393;
}
#playing_songs label
{
    background-color: #FF6900!important;
    color: black!important;
}
#sound_toggle
{
    margin-left:20px;
}
#next_song
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKFJREFUeNpi+P//fz4Q8zMQAEA18kAcz0AK+A8B94HYn4A6e6ja/SA2KYb/R9KoT8BwGJgP8g0phiNr5CdgOAi8B+J6nMH6HzcAayRg+H+8wfqfMLgPNdieCLWowfqfeHCfBLXgYGVioCUg0sX+JASLPS0iNJ6UpChPRFL8T0pSxJn7sBi+nthM9J5QuYFk+HlSsn89kQWXPqiQIyWxAAQYACX0js1SU2RdAAAAAElFTkSuQmCC);
    width:23px;
    height:14px;
}
#next_song:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNq0U8ENgkAQXC7+tQPpwBKwA0vQry/pQOwAXz49OqADoYOzA+gAK8DZZE0w8dz14Sbz4WZmd+cOGvd0AOakFDhLYEs/lANKIEC4Ubgp4MG7AZnV/CWsRbhSNGugAe/K21jMp8IgQi2qnXCPMa77IuxYqDRYAEUs1gQfR8Wgk2ZcjcLl8zy50N1qPm2SGrmemzj6Y82ME+fAYIylQCytZs5mJYgn+YkyZQA2rSyTeyH3hs0KGeKhxfK2llK1vIxey3wQYmUwDcJtLRcaXevDHbDp2fpangIMANqHU32bFC/aAAAAAElFTkSuQmCC);
}
#previous_song
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALZJREFUeNpiYCAS/P//nx+I80lQG0+swfFAfB+I/xOhth6I3wPxfkIK9UGK/iMBPGr9YQ6Agv34vDX/PxaARa08ugNwGo7krf/4DIc6oP8/brAfn7dwGg6KWHwOgBnOAvIWUP0CIHYgMnLvAykFYtQyAbEAA60BcnIjIljqiQkWbKmElAidT7ThaMmL2KSoT3RSRNNoD8TnicxE8URlIhwa3xPK/mjBup+BxIKrnki1oGDNBwgwAOv8Ki3ycrtAAAAAAElFTkSuQmCC);
    width:23px;
    height:14px;
}
#previous_song:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANJJREFUeNpiZCAS/M9k4AdSCYzTGSYSqTaAiUiD44HUBSCeQITaeiD1AOQQFgIK9aEGOhBhqD9UrQJMjAWPt0AKE4gwVB5ILcDmABYc3ioAYgEiwrUBqhYrYMHnLTwG50MNxusARnzewgEeEOMAIDjARMh2SgATMN1eBGJHaOQ9IKQBqFYRGiQfCKrFEkkF+CIUaDgjkSnqACOe5NWATSPMcCLyAnbDkTTaQzUa4DIcLRc3IEU2fsPRNIIsEcBlOJZgvcBIYsFVADS8kchcGwAQYADvTUXAuuQpQQAAAABJRU5ErkJggg==);
}
#stop_song
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAAfSURBVHjaYvz///9/BiIAEwORYFQhdRQCAAAA//8DAGmaBBBYk2XgAAAAAElFTkSuQmCC);
    width:10px;
    height:10px;
}
#stop_song:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAAfSURBVHjaYvyfyfCfgQjAxEAkGFVIHYUAAAAA//8DAOT0AntUvlOjAAAAAElFTkSuQmCC);
}
#shuffle_toggle
{
    width:20px;
    height:14px;
}
#shuffle_toggle.on
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP9JREFUeNqkU8sNgkAQ3TXcpQQ6kA6kBDoAj97sQKxAPHlUO6AE7EA70A6gAnyTvCUTwy/ZSSazs7x9vJ2ZNcbDur05w9d6b2X87ACvQbpxGxbJEbEYAN/t1eyUmjFcTw78ZUphDpIbybIZMrECuG2AxUdkqw8xPHRrAYla9b2Bv7hOGCVPofBrR4otylJRSbJQHUxwsCWuE2XIT+5sMFHsEl4psoYqWn0b5O+lXRZlkSZjnLQxwpK17AvOvfpv7l7svtFjk7FWQ01x148YZ5sSEJyMXVtmiz91Fg7gY6pNp2pYucFGfCyZQ+Ce1vMtd7xu7rrt+5ZLzmU/Oj8BBgDB51NTMRef1wAAAABJRU5ErkJggg==);
}
#shuffle_toggle.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALRJREFUeNpiYKAA/P//vx+I+RmoBf5DwHkg1kcWrP+PHcxH04xLHQzkE6NwPlRN/H/C4D0Q27MA1T8A4gNIjjEAYgEYG6QISC9Akv8AxBegbAcoDeIHMDIyPsQVNvOhNvpD6f9I4cWPFob1xAQ2Pyiggfg+mpfk0dTpExt7/FDXoIQPehIhxcD56DEItYCglxlBMQikE3BECggUALEClCYcKdRONvgMXE9WwqZ61qN24QAQYABWPccliYOatQAAAABJRU5ErkJggg==);
}
#shuffle_toggle.off:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP9JREFUeNqkU8sNgkAQ3TXcpQQ6kA6kBDoAj97sQKxAPHlUO6AE7EA70A6gAnyTvCUTwy/ZSSazs7x9vJ2ZNcbDur05w9d6b2X87ACvQbpxGxbJEbEYAN/t1eyUmjFcTw78ZUphDpIbybIZMrECuG2AxUdkqw8xPHRrAYla9b2Bv7hOGCVPofBrR4otylJRSbJQHUxwsCWuE2XIT+5sMFHsEl4psoYqWn0b5O+lXRZlkSZjnLQxwpK17AvOvfpv7l7svtFjk7FWQ01x148YZ5sSEJyMXVtmiz91Fg7gY6pNp2pYucFGfCyZQ+Ce1vMtd7xu7rrt+5ZLzmU/Oj8BBgDB51NTMRef1wAAAABJRU5ErkJggg==);
}
#repeat_toggle
{
    width:19px;
    height:14px;
}
#repeat_toggle.on
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAYAAADNGCeJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKxJREFUeNpiYCAT/M9kiAdie2QxJgbygQIQHwAa2A8TYARy3gNpAQbKwAUgTgAZ9p+BOuAACxYbPpDgTQUou4FxOkMjsmEXgAKGJERAPchrQBwA1HeRIj8BDZMHYn58CvjxKiAAWJAMAqWZDSBnA/FBElwIj0BGqAAorRSQEQmgJGWAnM7OIwtQApigLnpABbMuwLwJCvQF0PAqgHqVJABMHgexZV59cp0GEGAAgxQzUjw4bmcAAAAASUVORK5CYII=);
}
#repeat_toggle.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAYAAADNGCeJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKVJREFUeNpiYCAT/P//Px6I7ZHFmBjIBwpAfABoYD9MgBHIeQ+kBRgoAxeAOAFk2H8G6oADLFhs+ECCNxWg7AZGRsZGUEDCwHkSI6AeiO8DsT7FfgIaIg/E/PgU8ONVQAAwIRkESjMPgNiARBfCASNUAJRWCsiIBAFkyxmhAW9AjbTBBHXRAyqYdQHmTVCgLwDiAKjhF0g1CZjODmLLvGSnG4AAAwDA12NooOWKFwAAAABJRU5ErkJggg==);
}
#repeat_toggle.off:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAYAAADNGCeJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKxJREFUeNpiYCAT/M9kiAdie2QxJgbygQIQHwAa2A8TYARy3gNpAQbKwAUgTgAZ9p+BOuAACxYbPpDgTQUou4FxOkMjsmEXgAKGJERAPchrQBwA1HeRIj8BDZMHYn58CvjxKiAAWJAMAqWZDSBnA/FBElwIj0BGqAAorRSQEQmgJGWAnM7OIwtQApigLnpABbMuwLwJCvQF0PAqgHqVJABMHgexZV59cp0GEGAAgxQzUjw4bmcAAAAASUVORK5CYII=);
}
#play_toggle
{
    width:35px;
    height:35px;
}
#play_toggle.playing
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd1JREFUeNrMWOttgzAQNij/yQbJBmGDsAFskGzQbkAzQUZoOkHTCUgnKJ2AdALYgPrQZ+nq8oh5+qSThfHj8z1853OEAZVl6ckmAPvgNRtyB9+IHcf5FGOTBLGR/Co5L/8SfSeMy5r/MQ4xGIQHEHzxs+SwaQMAP9TMi4cA2TNJZLRBz8PEbJ0vAmu6yIGd6jxUzJBWwqS0MwWS95FGx9rxw4CgGjP05oD4YTdt+lW6PYgJCaqvbKhpwLuyETEDMRt6alJPJmYiGLVSV+UgK/x7RvvSZVO4fSuSN+xJ30A2R9Z1kWN+6taifjn+gvG0/4kjzAy8oaIWB1C0f1A61d6u5EidQsxMkNpV8pa812Viv4pl6IY2cBF5CeW3DWC2rEMsoColhLUr7CFrwJBmfFvAkBOlNqmpcJGzBkshYNlBBSbVOucmX9mNy/18ITARB3PVguWcKtoAzJ3umxWiJwGKKKmS328t8+8dF2Sh/S868Bz/xUVb8pm6TC+eCUzSuB+Qqhw4nBhI3JoDY1BoxeugYXA4kUR6PeTGelF6zCbNpQ6VTfHW3g05Ea8mZJDUvmNOqJVQ8tG8lNVndMq0+kxd/eb8aOXB6VG5ihDHtjXxrEDgTVG5+jBZ/1eAAQB1yAyzYPMylgAAAABJRU5ErkJggg==);
}
#play_toggle.playing:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjBJREFUeNrMWMtxgzAQFRrf7Q5CKggdmA5MB+aaU0gFxh34livpgHSAO8AdQAe4gmTXeXg2GsuAw08zO9gglqf3pJV2HdWhfb+qJV18mAdbiS4FLGNzPtSxi3+nJYgnusRkgfHxiiwX/33jVX5+YCNg53+BARPsLBTOEzHyswV4zZ58jwHtHwJDTtd0ScEEUx+Ts88HZI1gK7AYkJ+yNRhysgUDCszEbWhukDkBW8yST/5OjWAEEH4p6spGA6gd5t5NQM4NabJ76HsAJAfrScm0oW+Kv9EQQC6j/2X6gDmUymda/E7Q4dCnNBZA71DAIxLe/sgk5Cmo47MaoWFSF5DL5QWyqGXBNW5wsJaBzYwb+EAo2bYuY7pP/RP05+/vF3AQgJUmeXwDsBnEXOM5s13e8RcDDNteA4gScWW0BtZ4ErtEyosWtKdqmpbVrGvsvGqopdwVjCtuqAmkqklYaTWfNhswlwA4FzC8iPI5yVRphGR/KgQcXySY3Lg5dvPqeaPlOp8ITCDBpMZmOaZEcl88aWN/2Da8f82JLIGyMp5XDf5CuS/O6jyjEZKPgp3dSCpds48685BxJgLKmABtBmZlVwc6eUDTxtniquFQSx3zsk5XAtuBnAF9ARAfzLO+GQIjiUiFyikyyiX8BZ0ySuFgI9KXPnPt0HaQ61qFKLDqUlvtRdRwAlFC+V8VwlKfCW8EwcLYZ8z6TQIgZS/FImPUAUbuWopDOSzDgmjdfgQYACN37rvsehLPAAAAAElFTkSuQmCC);
}
#play_toggle.paused
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhpJREFUeNq8WItxgzAMNSyQbEA3SDYgG5BOQDdghKQT0E7AdYJkA9IJoBMkncDpBK58J7fCIeBvdKeDEFt+fpYl2QmzECHEAh5b1DXo00izC2gPegI9JknybWo/MQSRw+MFlcpppLkEudTa7AHUJ/MRyQRoI/7lDFqDrmb6rUArbK+kBc1cgeSgnIAoPex0aIdb25EdyIxq9BVflnfEZuUCpGQBRWO7YgZrHQWINgafHAOd9RwTiMaQ8qFsrEGNDQ7sAUJ8qNX/yAjSBXuQkJXIx1jZWcwqDwCmvFkNZMSYFQxgAgNiFoidjDpTY2GgJbuOmzJ6x1altnoKvzf4/ehoT+ahPc6wcOiv8tuGzjJzZEaXdi53jdiT0v0Ztuw8BUYQf7LyQbVMfYSdK8uNi3EeAknxeY0USqQ/vZkCShHIUyQw0jk3UFi9W61/YJ+xqltUvaOYYbY7YEL2kmlg48OijyxV+5Ts87UniCOCeAX9scng+DoAs3UE0aNfPNucBIhsB8FvkB/MfYbbbNuJGmqYF0l+aAyNFIHq4ttxCULhm4UdWLkdk6DsHgTmoE4fs3VKZCAlOY8tTKirIwPhs7FNO0o0gYFUJEoXpp0ooM43OmPBfyCMFC7e3mr1SeZgYxdsYkgt1yq56p5RZLUkTHjXyWMz1K84qHR3vp+RGaMAmTgAW2F1qG6ulirrYgVwxXd5a/VlY/tXgAEAosnXxx7bkbYAAAAASUVORK5CYII=);
}
#play_toggle.paused:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAolJREFUeNq8WMtx2zAQBTi6Sx2YHYQdmB1EHVhXn6IOTFdg6pRjmA6YCkx3AFUQqoJIFdi7yoNmDVHSgh9jZgeiBli8fdgPgJmJaO+PZk7dEpKRpB3DWhJH0pDU9qfZafVbJYh76lYQ2ZqO4QxyEYwpCNTbIDBgohQg2OqapCLl2yvzvlGXk6wFewxqdY0pe4ONGla2sO63iWzQU4KxPQO8pMdeUPDA1uOzBJCDGdBI5xPrwScD2twEEwBZ9WFDyfYZINux124KIMEaDQB9WsMGzurgcJMACRhq4EOZd+pEjCkApJ4SyJGB/2FegJ3qEzOE9A4Rw0jToc4awdBfEJAzQM/M2keOBghHBqge2gq5vmfmH/5MlWBekdQqhP1uBHbSBBYu4Cux28OZ2SGH9G0l+mUCCw3iv09jQwq2kOR7j/m+vuUSjBu4/8dI5C1ELtFGlq9xaSL+3I0UJDm27hdyl5adzDPjJohc9qeWAP3QTvDM7CdKJexPpRZQ4hPdRGAaJLSNZvAMW5SPDOLqueUCgydmTEwEKLJqGlnf+ODlZqDSH7C3A0DUYCMqKkVZOYExANSnWjuAeOtpxNL7lw3rg8Yy1KYMdWnTl0rkoTZMemVQRTX1JB0CROSiU120AcKFlp0RzjJnayYoBQfBSm2+plU+KZ4dO0H5sUZwXZmYlQc4bitdI+nwbM47K5rwMiGQCuss5RkqCcr5Adn4mEHHZgg1St7JtpobpbzbuK6JkSDuEIEn5knfn5i79hzOnAuHizrvQscactMwq6S2EM8cDUA2XUrBaibecXzh5Kh5HuN9Zo4Etb5w3HAA0PVwVGmvQLbH/vu3F/9ytfBVFwzs8buO9bMPAQYAbdoHFbXs8OkAAAAASUVORK5CYII=);
}
#sound_toggle
{
    width:22px;
    height:21px;
}
#sound_toggle.on
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAEXSURBVHjavJXtTcNADIbfRPxPN2g3SDcIG7QblA3KBrBBYYJkA0aATtBuUDYITPDwA5/knEKaJicsnexz7l47/jppIgEF8AQUSknAjl+6AGVq8A3Q2ipTeVuYXDrw5ViAEjj06PBeOt37WNC27zBQxSGwRAJUQ6DhYscLH8fYsFVJC7x5EL/2dCm+eHLx7XgJ1AAB+Bp5j4PR2hnz+00wlN9SDVmWvUpqJD3Y/lvSh6SVHfkyvsgnVNvngOGjiespwKuhpJt4zm9sjL2FoQkxlnTv/mIRQnJnHzytJb30DR1Jz5LOkh5NHXhjfBs8HmrZeXX8r50XgdeRbjlrVlxL4qzpNsJAlXQeRy9Im/QFsSo4/PXm/QwAhNfsMFVfifUAAAAASUVORK5CYII=);
}
#sound_toggle.on:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAE7SURBVHjarJXRUcMwDIZljvd0g7JBukGyAWwQNsgIHaEjBCboCIYJ0g3KBmaDj4fKd8LYddKiu1wSRfosO79skRsNaIA90BhfCwRgljvAAxc7KzBCASa5x4BnhYV/gWq1TVI5wLgU0AKHjA+tcDCVAvil0JALBroEOOiPBOiuQW2it4Nlpj8blQTgaCH2GvltPkk822+2SmACiOCa2YqPyfQbqwRVCUD3uEYJIvIS351z7+r/EJEndX/rffOwAvqmiadSnHPuUx93S8A7A+2vgY0iTkvAGwPtReRVBxJtkl5EvkzsZUkWqCKopqMqZtN1+5wq7MaUTskXVNGWGuiPjjPQyVRa67xgmqbceQk0boVTErO1Mcn+4avQivxGs86tqX5bgs41aG1JStDmhhMkP8NUQivPvEMp72cAjUG8WnVUw30AAAAASUVORK5CYII=);
}
#sound_toggle.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAE7SURBVHjarJXRUcMwDIZljvd0g7JBukGyAWwQNsgIHaEjBCboCIYJ0g3KBmaDj4fKd8LYddKiu1wSRfosO79skRsNaIA90BhfCwRgljvAAxc7KzBCASa5x4BnhYV/gWq1TVI5wLgU0AKHjA+tcDCVAvil0JALBroEOOiPBOiuQW2it4Nlpj8blQTgaCH2GvltPkk822+2SmACiOCa2YqPyfQbqwRVCUD3uEYJIvIS351z7+r/EJEndX/rffOwAvqmiadSnHPuUx93S8A7A+2vgY0iTkvAGwPtReRVBxJtkl5EvkzsZUkWqCKopqMqZtN1+5wq7MaUTskXVNGWGuiPjjPQyVRa67xgmqbceQk0boVTErO1Mcn+4avQivxGs86tqX5bgs41aG1JStDmhhMkP8NUQivPvEMp72cAjUG8WnVUw30AAAAASUVORK5CYII=);
}
#sound_toggle.off:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAGLSURBVHjapJTNccIwEEafPNyhg9AB7gB1EDqIc9QJSqCDcNMxpoK4A0wHpgNSQUwFyiG7zI7HBkw04wHvyk/7860cT64UmAIbYOciF7EtgBo4u3+A34ASOAMrMdfADCifBgv8VeC6/qCR96ejlVLo/yTPWvdkdwCLFPjo2rQEUo6dca/ugk0jcmt3kRPg5bWU9AtgC/gUWA6CxamN6B4GMDe+xkX2EnkrSmGiJ5iVd9Kz8qpToBWwqsCnwNJFjilQSfRk4rTPri8L0WptoIWpaSG/lWY8GanblTloL3Z7WKuyy0YOQws0Q/tc5KjlfAScG6i/BTb9ah4BzwzUSz1L01AvY41RSjsxmhxSRWs+3krEG/FtjJ7tgDRDKR3MmB56dKxT+aP+FJjK+1fvgKTAp0TYmi7bqbMDRCf6mWab9UCLTk3PnT0vBupd5CSZbIFaleGGoBrdQKnWcj1ezJ0CkLvI9xVsoA1Q3IL2yKuy0V9vtw7Uj4C+dUti/ZlIRKGXEfd9JY2a9wXzOwDhybyLkop9PQAAAABJRU5ErkJggg==);
}
#expand
{
    width:14px;
    height:14px;
}
#expand.on
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNp8kt0KAVEUhbcp3kDuvIRXwK23cqsoLpUn8DNSfppLhZL8RJJb3AmNEsc62SfbMaz6mjNnr5nV2WeTeuvOzz4gQRgM1aduJF4OYG59JGmBnTE79NIeRMGVfmsJYuwlkzgCHV7PAtLaXGsAT/FmTxgGbFiAFEhzXasrfG7QWdZsXIENr7ei7ugnBXQwKZK1piBrBzhWA27gBCLWvv/VKhnPVEXSRDRPJjo6sQIe/B8XZMAM1EAdeCABxiKvaK5Dp5RFkn32LddKoGmuQ4mJ6P6ZnDzwjdc0x0zE5c/kxMGRvUTW8J5BwUoKgZzlU08BBgCcavtZjfgZ9QAAAABJRU5ErkJggg==);
}
#expand.on:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNp0kkErRFEUx899zSjZYnZClqSMqbHFysZXsJ1XMjv5ApY26sXKZ8AsJJOdZKMkxIKFzVOSJMp41++8uc9cb3Lqd999557/O+eed4ytiZW2JRDAqUR2RkLj3FKEE5iWjrUC7+UZrlKRb5H9gsp3Ige8xdL+XiETxjAAn/KPUc4NjxL1aaxkwkc4gilKvHS+QTK1d6E5LAZSbyXSgGt1Ge7YJGDOBZyxVkAPV/QcVmEWNG7exTWMtfZvTaG5Yx2DW70LjMIDVBHGnGuV/QWve1kHa7DuMqtp6fupqNP9p6CrgyJv0JPrzUe+WSrs9ZqktgaTLtMFjMNiXqeCbTIlaQe5tAtS0S7swTGUOTt3VaWrcZOjQS+wlIoiO5Fr2D3rMGzBECxkJVadqPkrypoWmj58I+w2XUzZH4CSm573rpGJbObTTK8uVow35OKEOwQve79JNxtQ97/3I8AA7zlzIOR/1GQAAAAASUVORK5CYII=);
}
#expand.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNqckj8KwlAMxtMqKiiIkw4d3D1kL6F4BCedBA/hIDoK/oE6eATR6vOLJiVNnfzgR9K8JH3khUIIKcjACJDQBjWxkYmT5KbqBLFDMABLkziRJqVc8gGwEl/PWGOXQ/Srm9jIFJaKmDoRPUEfnOmrhKri2AUsioh02ISq7B9z8BB/ykP7HP6jGDRAC0QOlY93uI4L72ALXg6Vj89A1z7szkzPP4dOdG6nquqZ6SVyLR5ADq5+2rHYkym66cDFcvPMNMz0OY5ylYO53h60xF+7PS1Wjpf85BaZabrv2C75W4ABAGecn/uObMe7AAAAAElFTkSuQmCC);
}
#expand.off:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATxJREFUeNqcUj1PAkEQnV0PQ0JhqLTAgpBgYwyNdPYUJhT+BS24wsqeXwHVNVZ21v4GqDDaUAAJ/gXI+YHLm70Z3IPQOMmbnZ19b3Z3do3rUJeIboEW9d07scWmBJ8CRWCJvCO12MzhEwMhBxXgA7gSQQLytRB78PeYr0TkucZxsSABvMnuRoS8G4vbG07fnVosHHAgIl44F4GhP8uJOBHJEY4Rz4RUoV3T0zxrIpLxBWjQflsBJ/6usTnE+JDd8R/GXeUKFvjMregT5O/Kxk+1tCB8IRgBv1tQ284/AUeRVD9D5VdE5T3NIWnOANwbkiOqlYPuhUf8CZ6qqWQrpGkgSnN3zDo/V/Hizn8W35zJ4puqpQJNQK5JoTH8BeYp4iHGy+Cf+g0sRI8QzTaibLc6vJNYRTb4YclagAEAv5R9jTZ7DQMAAAAASUVORK5CYII=);
}
#social
{
    width:12px;
    height:16px;
    position: absolute;
    right: 25px;
    top: 13px;
}
#social.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAADsSURBVHjajJG9LkRRFIW/y70FhZaOUiJRDSoK7TQeQKNSKDVKOpk38AZEQa/QT6GWIJlXUImJ+DR7MtuZ68ZKdrJ/1jr751QqBZaBzfCHwPuvqpptTR05xZO6kjml4NJZnGXOXDFOj1kc5KAU3LYIrrp2aNTzNM5ArTOnarkSwBZQxZXo6tBXH1KHa3XnryudJOKb+prii1Kwn4r92GVRPYrcWN2YCBp1GIXDYkTU06jdqzXqXiTuWsgTew7OOupjBNsdguPg3NTAKvANfABLwHxxyC/gJfzdyulHjIBPoCkEY2AhHiYL/oWfAQA9ZISdyJAZdQAAAABJRU5ErkJggg==);
}
#social.on,#social:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAAD9SURBVHjafNG/LkRREAbw365LJYq1USChpBKJeAEr8adCo+ABvINH0CmUGyJ0FEQiEdGqUIuKQqEiUWB3NXOTm5O7O82ZOfN95/vOTKWzI41RNNDCBT6LzSwBT+IOE1E/YAXvOaCaEE4LYJjFSRFQSSx1lEelm8JVCfipWKSENdwmD8z1+vQPVrGJNo5SuVRhAa9o4hBvmO9GuMQN6ngJ4hju8ZgSmmEFjjGNKZzH3Qz2c0J/bBbOsI1ffGMd19FrIKviAONhY6NkrEv4CMW9KhajsaV77Ma5nGEwRjiAIfQl4D88R17LUCv4b5eMuoWvyOvFxQ33sDSSJ/8DAD7fLtvbqKR9AAAAAElFTkSuQmCC);
}
#lastfm_login_btn
{
    width:21px;
    height:13px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAANCAYAAABGkiVgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXtJREFUeNqE008ow2Ecx/FtrbVSav6kcFErlKXccHBViBIHFyHlJDsqR05KbhQ5cdiU5SCFHIRdyAXtoJw4LEpNEWPez3x+9fjZeOq17Xmez757fs+zx5vL5TyuFkYzqnGPK9wg68qF0IAgHpHCW37GFJUW7OA197NlsYEaK1uPC1duE+X5RSrUhowmnxDDMnbxovFrNCq/rbFTRJFUf9opWoFLDe4jbK3IaEfaWk0At+p3KlOHfoScoqPWSspcBR0d+FDOfHlPnxcK5c3LlgLjRQo6Vq1Cw/hUP4U5NNlFz12PUkzEOhSztz3WtjhtBUETPtJA7z9FfUgoO6uxUozoLJw2YSYW1Yn9UbBKqxtQNl1g/6OaW/PxV43pzzyIKc/v5sc6DpDECSoRdeXu9P7u/Mq8tfw4unXi5tHONP6sCzBkZWdQq0N+0NikU9SvEyzWzIUYsx51qUjuGCVe192PaBtadbfTOERC999uXehDIP/I31sTR+ZLgAEASSnyLy2T6I0AAAAASUVORK5CYII=);
}
#fb_login_btn
{
    width:8px;
    height:16px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAYAAAArij59AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHowAACAmAAA+f8AAIDmAABSCAABFVgAADqXAAAXb2Uu03wAAACsSURBVHjarNExSkNREIXh7z1jkRBjJySV4BJsA2Jjk73YCu7A0tLlxErtJCkt0toKIY14bO6FB89gkx8ODMzMmWGmSaIwwjUu8I1jbCSpekift7Z0z7DQ52dQghNMOokNnrGu9rMk6471Ux09wD1ucN5xuMQdPiV5z35eWjT2M26SzHGFW5yVxBKP2NUlp0lWfy1Z7zAs6tH6h8MVHBX1qL/Y4hVfOMVHLfgdAMiXiV/4nTXhAAAAAElFTkSuQmCC);
}

#help
{
    width:9px;
    height:14px;
}
#help.off
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJFJREFUeNpi+P//PwMUpwHxPSD+CMS3oXxBkBxIUgmIz/zHDkDigiBFu5EEy4HYBUrDwEwGNAUMSLgDJsHEgACrGVCBIJT+yYCmG9kTMNBBSAHc4cg4FEnBKuQgQMZToQoOIoszoTlWGEo/QBZkQVO0BIg/AvFhZEFGsJ0EALp174AYpOs6PkUfofQ3ZEGAAAMA6F0FRyy2rnMAAAAASUVORK5CYII=);
}
#help.on
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALFJREFUeNpi/J/JAANpQFwBxMJA/AqIu4F4NRC/ZwQqUgIyVgGxMQMmOAvErkxAYiaSApBJrlCaASreATLpP5KCTiRTOoC4HMRgQhJcjWaVIJT+yfj/P9SgLEZkBWlQZ4BAJyOS77ApgDscGYQiKVgN9cR7FjRFDlD6EBCHwQTRTRKG0g+QBdFNWgLEH4H4MLIgqsOn/UewkXyLalIW4zto+NwAYk1cbvoIpb8hCwIEGADrgSlp8vjSQwAAAABJRU5ErkJggg==);
}
#help:hover
{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALFJREFUeNpi/J/JAANpQFwBxMJA/AqIu4F4NRC/ZwQqUgIyVgGxMQMmOAvErkxAYiaSApBJrlCaASreATLpP5KCTiRTOoC4HMRgQhJcjWaVIJT+yfj/P9SgLEZkBWlQZ4BAJyOS77ApgDscGYQiKVgN9cR7FjRFDlD6EBCHwQTRTRKG0g+QBdFNWgLEH4H4MLIgqsOn/UewkXyLalIW4zto+NwAYk1cbvoIpb8hCwIEGADrgSlp8vjSQwAAAABJRU5ErkJggg==);
}
.help_panel
{
    color:black;
}
#how_to_use p
{
    margin-top:10px;
    margin-bottom:10px;
}
#contributions section span
{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
}
.help_panel a,#artist_bio a
{
    color:#FF6900;
    text-decoration:underline;
}
.hot_key_row
{
    background-color: #F0F0F0;
    margin-top:10px;
    margin-bottom:10px;
}
.key_combination
{
    color:#FF6900;
    margin-right:20px;
    width:80px;
}
.lib-item-info footer
{
    text-align: right;
}
footer.saved_playlist_toolbar
{
    margin-top: 40px;
}
#playlist_toolbar
{
    margin-bottom:10px;
}
#new_play_list
{
    width:70px;
}
#new_play_list:focus
{
    background-color:#FF6900;
}
#clear_playlist
{
    float:right;
}
.command_link
{
    cursor:pointer;
}
.command_link:hover
{
    color:#FF6900;
}
#library_menu header h1
{
    display:inline-block;
    margin-right:0px;
    cursor:pointer;
}
#library_menu header h1:after
{
    content:' / ';
}
#library_menu header h1:hover
{
    color:#FF6900;
}
#library_menu header span
{
    margin-left:5px;
    margin-right:5px;
    text-decoration:none;
}
#library_menu header input[type='search']
{
    -webkit-appearance: textfield;
    float:right;
}
#library_menu header input[type='search']:focus
{
    background-color:#FF6900;
    -webkit-appearance: textfield;
}
.library_content_panel
{
    display:none;
}
#artists_library_content
{
    display:block;
}
.selected-lib-item .command_link
{
    display:inline-block!important;
}
#drop_files,#drop_folder
{
    visibility:hidden;
    height:0px;
    width:0px;
}
#import_songs_directory,#import_songs_files
{
    float:right;
    margin-right:5px;
}
.hidden
{
    display:none!important;
}
@media screen and (min-width: 1281) and (max-width: 1400px)
{
    #music_slider
    {
        width:63%;
    }
    #volume_slider
    {
        margin-right:30px;
    }
}
@media screen and (min-width: 1151) and (max-width: 1280px)
{
    #music_slider
    {
        width:60%;
    }
    #volume_slider
    {
        margin-right:30px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1150px)
{
    #music_slider
    {
        width:55%;
    }
    #volume_slider
    {
        margin-right:30px;
    }
}
@media screen and (min-width: 901px) and (max-width: 1024px)
{
    #music_slider
    {
        width:47%;
    }
    #library_menu header input[type="search"]
    {
        width:70px;
    }
}
@media screen and (min-width: 801px) and (max-width: 900px)
{
    #filtered_lib
    {
        display:none;
    }
    #music_slider
    {
        width:40%;
    }
    #library_menu header input[type="search"]
    {
        width:90px;
    }
}
@media screen and (min-width: 701px) and (max-width: 800px)
{
    #filtered_lib
    {
        display:none;
    }
    #music_slider
    {
        width:33%;
    }
    #library_menu header input[type="search"]
    {
        width:70px;
    }
}
@media screen and (min-width: 601px) and (max-width: 700px)
{
    section.info_panel
    {
        display:none;
    }
    #playing_list,#how_to_use
    {
        display:block;
        width:100%;
    }
    #playing_list.hidden,#how_to_use.hidden
    {
        display:none;
    }
    #music_slider
    {
        width:20%;
    }
    #clear_playlist
    {
        margin-right:30px;
    }
}
@media screen and (max-width: 600px)
{
    section.info_panel
    {
        display:none;
    }
    #playing_list,#how_to_use
    {
        display:block;
        width:100%;
    }
    #playing_list.hidden,#how_to_use.hidden
    {
        display:none;
    }
    #music_slider
    {
        width:20%;
    }
    #volume_slider
    {
        margin-right: 10px;
        width:20px;
    }
    #sound_toggle
    {
        margin-left:0px;
    }
    #clear_playlist
    {
        margin-right:30px;
    }
    #repeat_toggle,#shuffle_toggle
    {
        display:none;
    }
}
@media screen and (min-width: 331px) and (max-width: 400px)
{
    #music_slider,#volume_slider
    {
        display:none!important;
    }
    #new_play_list
    {
        display:none;
    }
}
@media screen and (max-width: 330px)
{
    #music_slider,#volume_slider
    {
        display:none!important;
    }
    #playlist_toolbar
    {
        display:none;
    }
}