<!DOCTYPE html>
<html manifest="app.mf">
<head>
    <title>m.player</title>
    <meta charset="utf-8">
    <meta name="author" content="Enginimation Studio(enginimation.com)">
    <meta name="description" content="Offline/online music player that works just in your browser">
    <meta name="keywords" content="player,music player,html5,offline player,lastfm,mp3">
    <link rel="stylesheet" href="css/styles.css" >
    <script src="js/lib/async.min.js"></script>
    <script src="js/lib/libs.bundle.js"></script>
    <script src="js/lib/fs.js"></script>
    <script src="js/ext/data.service.js"></script>
    <script src="js/app.js"></script>
    <script>$(function(){AppController.init();});</script>
</head>
<body>
<div id="main_screen">
    <section id="library_menu">
        <header><h1 id="show_artists">Artists</h1><span>/</span><h1 id="show_playlists">Playlists</h1><input placeholder="Search artist" type="search" maxlength="16" autocomplete="on"></header>
        <section id="artists_library_content" class="library_content_panel scrollable_panel"></section>
        <section id="playlists_library_content" class="library_content_panel scrollable_panel"></section>
    </section>
    <section id="filtered_lib">
        <header><h1>Albums</h1></header>
        <section id="filtered_lib_content" class="scrollable_panel"></section>
    </section>
    <section id="playing_list">
        <header class="box"><h1>Now playing</h1></header>
        <section id="song_info_view"></section>
        <section id="playlist_toolbar">
            <input id="new_play_list" value="Unsaved list" maxlength="18">
            <input type="file" id="drop_files" accept="audio/*" multiple>
            <input type="file" id="drop_folder" accept="audio/*" multiple webkitdirectory>
            <span id="clear_playlist" class="command_link" title="Clear playlist">Clear</span>
            <span id="import_songs_directory" class="command_link" title="Import music directory">Import directory</span>
            <span id="import_songs_files" class="command_link" title="Import music files">Import files</span>
        </section>
        <section id="playing_songs" class="scrollable_panel">
            <label>Drop mp3 files here</label>
        </section>
        <footer></footer>
    </section>
</div>
<footer id="player">
    <span id="shuffle_toggle" class="control off" title="Turn shuffle on"></span>
    <span id="repeat_toggle" class="control on" title="Turn repeat off"></span>
    <span id="stop_song" class="control" title="Stop"></span>
    <span id="previous_song" class="control" title="Previous"></span>
    <span id="play_toggle" class="control paused" title="Play"></span>
    <span id="next_song" class="control" title="Next"></span>
    <span id="sound_toggle" class="control on" title="Mute"></span>
    <meter id ="volume_slider" value="0.5" min="0" max="1"></meter>
    <progress id="music_slider" min="0" value="0"></progress>
    <label id="time_counter">0:00</label>
    <span id="help" class="control off" title="Help"></span>
    <span id="expand" class="control on" title="Full screen mode"></span>
    <audio id="player_ctrl"></audio>
</footer>
<article id="album_info_view" class="box"></article>
<script type="html/template" id="song_tpl">
    <div class="song cell track_number"><%= track %></div>
    <div class="song cell"><%= title %></div>
    <div class="song cell delete_album_song">Delete</div>
</script>
<script type="html/template" id="song_mini_tpl">
    <div class="song cell"><%= title %></div>
</script>
<script type="html/template" id="playlist_stat_tpl"><label for="song_count">Songs</label><span class="song_count"><%= songsCount %></span></script>
<script type="html/template" id="artist_tpl">
    <span class="info_image"><img src="<%= image %>"></span>
    <section class="lib-item-info">
        <h1><%= name %></h1>
        <div class="artist_albums"><% _.each(albums, function(album) { %> <a class="album_link" data-album="<%= album %>"><%= album %></a> <% }); %></div>
        <div class="artist_genres"><label>Genres</label><% _.each(genres, function(genre) { %> <a rel="tag" class="genre_link"><%= genre %></a> <% }); %></div>
        <div class="song_count"><label for="song_count">Songs</label><span class="song_count"><%= songsCount %></span></div>
        <footer>
            <!--<span class="bio_artist command_link" title="Show artist's bio">Bio</span>-->
            <span class="delete_artist command_link" title="Delete this artist from library">Delete</span>
        </footer>
    </section>
</script>
<script type="html/template" id="saved_playlist_tpl">
    <span class="info_image"><img src="<%= image %>"></span>
    <section class="lib-item-info">
        <h1><%= name %></h1>
        <div class="song_count"><label for="song_count">Songs</label><span class="song_count"><%= songsCount %></span></div>
        <footer class="saved_playlist_toolbar">
            <span class="delete_playlist command_link" title="Delete this playlist">Delete</span>
        </footer>
    </section>
</script>
<script type="html/template" id="visualization_tpl"><img src="<%= image %>"></script>
<script type="html/template" id="detailed_album_info_tpl">
    <span class="info_image"><img src="<%= image %>"></span>
    <section class="detailed_album_info">
        <h1><%= name %></h1>
        <span class="release_date"><%= releaseDate %></span>
    </section>
</script>
<script type="html/template" id="detailed_playlist_info_tpl">
    <section class="detailed_album_info_panel box">
        <span class="info_image"><img src="<%= image %>"></span>
        <section class="detailed_album_info">
            <h1><%= name %></h1>
        </section>
    </section>
</script>
<script type="html/template" id="song_info_tpl">
    <span id="song_image" class="info_image"><img src="<%= image %>"></span>
    <section id="song_info">
        <h1><%= name %></h1>
        <span class="data_info_row"><%= album %></span>
        <span class="data_info_row"><%= artist %></span>
        <span class="data_info_row"><%= year %></span>
    </section>
</script>
</body>
</html>